@import "tailwindcss";

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.text-shadow-premium {
  text-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.kinetic-skew {
  transform: skewY(-2deg);
}

.kinetic-skew-reverse {
  transform: skewY(2deg);
}

.kinetic-gradient {
  background: linear-gradient(135deg, #ab3500 0%, #fe6a34 100%);
}

.glass-nav {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
}
